* {
    background: white;
    color: black;
}

.heading {
    text-align: center;
    background: black;
    color: white;
}

.center {
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: black;
    padding: 5px;
}

.grid-item {
    background-color: gray;
    border: 1px solid black;
    padding: 20px;
    text-align: center;
}